.main-header {
  background-color:#D79928;
  height: 450px;
  width: 100%;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}


.avatar{
  align-content: center;
  margin-top:10%;
}
.name{
  color: white;
 /* align-self: flex-end; */
}




