.nav {
background-color: #4056A1;
color: #FFFFFF ;
height: 120px;
width: 100%;
display: flex;
justify-content: space-between;
padding-left: 1.5em;
padding-right: 1.5em;

}

.left-nav{
  font-family: 'Bungee', cursive;
  border-left-width: 1.5em;
}

.right-nav{
  border-left-width: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fas fa-angle-double-down{ 
  color: red;

}