.tweets-container{
  display: flex;
}


.first{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 25px;
}
.second {
  display: flex;
  justify-content: space-between;
  margin: 25px;

}
button {
  background-color: #4152A1;
  border: none;
  color: white;
  font-family: 'Bungee', cursive;
  padding: 5px 5px;
  text-align: center;
}

button:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px #D79928;
}


textarea{
  border: none;
  border-bottom: 3px solid black;
  background-color: transparent;
  font-size: medium;
  color: black;
}
::placeholder{
  color: black;
  font-size: larger;
  font-weight: bold;
}
/* tweet---------------*/

.article-tweet {
  border: 3px solid black;
  border-radius: 15px;
  padding: 20px; 
  height: 200px; 
  margin: 1.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  color: black;
}

.article-tweet:hover {

  box-shadow:10px 5px 10px #D79928; ;
}

.article-tweet img {
  size: 2px;
}

.article-tweet span{
  font-size: medium;
}

.article-tweet i {
  font-size: .75em;
  color: #4152A1;
  
}


.article-tweet i:hover{
  color: #D79928;
}

.tweet-title{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
  font-weight: bold;
}

.tweet-header{
  display: flex;
  justify-content: space-between;
}

.face {
  display: flex;
    justify-content: center;
    align-items: center;
  }

.middle label{
  font-size: medium;
}

hr{
  height:2px;
  border: width 2px;
  color:black;
  background-color:black"
}

footer {
  display: flex;
  justify-content: space-between;
}

output{
  font-family: 'Bungee', cursive;
}

.errMessage{
  border-radius: 15px;
}
.error{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bungee', cursive;
  width: 100%;
  height: 30px;
  font-size:medium;
  color: black;
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}


